html, body {
  overflow-y: auto;
  background: #EEE;
}

.ProseMirror, .ProseMirror-content {
  background: white;
  border: none;
  outline: none;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 0em;
  z-index: 1;
}


.ProseMirror ul, .ProseMirror ol {
  padding-left: 1em;
}
