@font-face {
  font-family: 'Lato-Regular';
  src: local('☺'), url('./assets/fonts/Lato-Regular.woff') format('woff'), url('./assets/fonts/Lato-Regular.ttf') format('truetype'), url('./assets/fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-y: hidden;
  background: #EEE;
  font-family: 'Lato-Regular', sans-serif;
}

.is-draggable {
  -webkit-app-region: drag
}

.is-not-draggable {
  -webkit-app-region: no-drag;
}

.ProseMirror, .ProseMirror-content {
  background: white;
  border: none;
  outline: none;
  font-size: 1.1em;
  line-height: 1.5em;
  z-index: 1;

  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.ProseMirror-content {
  overflow-y: auto;

  width: 60%;
  min-width: 640px;
  max-width: 1024px;
  margin: auto;
  margin-top: 2em;
}

.ProseMirror-menubar,
.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu,
.ProseMirror-prompt {
  background: #607D8B;
  color: white;
}

.ProseMirror-invalid {
  background: #AA2222;
}

.ProseMirror-icon:hover, .ProseMirror-menu-dropdown-item:hover {
  background: #455A64;
}

.ProseMirror-menu-active {
  background: #455A64;
}

.ProseMirror-prompt {
  padding: 1em;
}

.ProseMirror-prompt input[type="text"] {
  padding: 1em;
  font-size: 1.1em;
  border-bottom: 1px solid #555;
  margin-bottom: 1px;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 1em;
}

.window-button:hover {
  background: #607D8B;
}

.window-close-button:hover {
  background: #AA2222;
}

.window-help-button:hover {
  background: #448AFF;
}

.word-count {
  transition: background 1s;
  background: #607D8B;
  display: inline-block;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
}

.word-count.dirty {
  background: #AA2222;
}
