@font-face {
  font-family: 'Lato-Regular';
  src: local('☺'), url('./assets/fonts/Lato-Regular.woff') format('woff'), url('./assets/fonts/Lato-Regular.ttf') format('truetype'), url('./assets/fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-y: hidden;
  background: #EEE;
  font-family: 'Lato-Regular', sans-serif;
}

.ProseMirror, .ProseMirror-content {
  background: white;
  border: none;
  outline: none;
  font-size: 1.1em;
  line-height: 1.5em;
  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.ProseMirror-content {
  padding-top: 30px;
  overflow-y: auto;

  width: 60%;
  min-width: 640px;
  max-width: 1024px;
  margin: auto;
  margin-top: 2em;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 1em;
}
